<h1><%= @company.name %></h1>
<h2><%= @company.city %>, <%= @company.state %></h2>

<h3>Contacts</h3>
<ul>
    <% for contact in @company.contacts %>
        <li>
            <%contacts.last_name %>
        </li>
    <% end %>

<a href="/companies">Back to all companies</a>
